/* ================================================== basic layout elements */
#top {
	height: 135px;
	width: 950px;
	margin: 0 auto;
	position: relative;
	background: transparent;
}
#mainmenu {
	height: 25px;
	background: transparent;
	margin-bottom: 20px;
}
#middle {
	margin: 0 auto;
	width: 950px;
}

#main {
	width: 680px;
	overflow: hidden;
	float: left;
	border: none;
	background: transparent;
	padding: 10px;
	margin-bottom: 10px;
}

#right {
	width: 240px;
	float: right;
	overflow: hidden;
}
#footer {
	color: #666;
	font-size: 0.9em;
	text-align: center;
	width: 680px;
	float: left;
	clear: left;
	margin-top: 5px;
	padding-top: 10px;
	background: transparent url(../grafika/footer.png) center top no-repeat;
}

#top_info {
	color: #fff;
	background: url(../grafika/black_bkg.png);
	background-position: left top;
	background-repeat: no-repeat;
	height: 100px;
	width: 360px;
	padding-left: 10px;
	padding-right: 200px;
	font-size: 100%;
	font-weight: bold;
	line-height: 1.3em;
	float: left;
	margin-bottom: 10px;
}

#copyright {float: left; font-size: 80%; color: #8f7847;}

/* ================================================== sidebar stuff */
.side_top {
	height: 7px;
	background: transparent url(../grafika/sidebar_top.png) center bottom no-repeat;
	margin: 0px;
	padding: 8px 5px 0px 7px;
}
.side_middle {
	border: none;
	background: transparent url(../grafika/sidebar_mid.png) center top repeat-y;
	padding: 0px 5px 0px 7px;
	overflow: hidden;
	text-align: left;
}
.side_bottom {
	height: 15px;
	background: transparent url(../grafika/sidebar_bottom.png) center top no-repeat;
	margin: 0px 0px 15px 0px;
	padding: 0px 5px 0px 7px;
}
.side_stuff {
	padding: 0px 10px 5px 10px;
	background: #ebebeb;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}


#most_recent_stuff, #most_popular_stuff {text-align: left;}

.decorative_bar {
	background: #498A2C;
	height: 6px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/* ================================================== message stuff */

.msg {
	margin-bottom: 10px;
	margin-top: 0px;
	padding-left: 5px;
	height: 94px;
	clear: both;
	background: #fff url(../grafika/message_back.jpg) left top repeat-x;
	border: 1px solid #b5b5b5;
	border-left: 5px solid #0000FF;
	overflow: hidden;
	position: relative;
}
.msg.yellow {
	border-left: 5px solid #498A2C;
}

.msg_content {
	position: absolute;
	height: 65px;
	overflow: auto;
	top: 5px;
	left: 80px;
	width: 500px;
}
.mini_msg {
	margin-bottom: 5px;
	margin-top: 0px;
	padding: 5px;
	height: auto !important;
	height: 40px;
	min-height: 40px;
	clear: both;
}

.when {
	font-size: 0.8em;
	font-weight: normal;
	text-align: right;
	padding-left: 18px;
	background: transparent url(../grafika/time.png) left center no-repeat;
	color: #666;
	position: absolute;
	right: 5px;
	bottom: 3px;
}
.msg_controls {
	position: absolute;
	bottom: 0px;
	left: 5px;
	width: 100px;
	height: 23px;
	overflow: hidden;
}


#profile_header {
	background: #498A2C;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	position: relative;
}

#profile_header p{
	width: 598px;
	height: 70px;
	overflow: auto;
}

#profile_header .when {
	color: #fff;
	font-weight: bold;
	text-align: right;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent url(../grafika/time.png) left center no-repeat;
}

.person {
	height: 75px;
	margin-bottom: 5px;
	clear: both;
}


/* ================================================== settings page */
#settings_menu {
	float: left;
	width: 125px;
	padding: 0px 10px 10px 10px;
	background: #eee;
	border: 1px solid #ccc;
}
#settings_content {
	float: right;
	width: 525px;
}
#picture_set {
	height: 250px;
	overflow: scroll;
}

/* ================================================== misc */
.clear {clear: both; font-size: 0px; height: 1px; margin:0; padding:0;}
#last_msg_tooltip {
	width: 200px;
	overflow: hidden;
	position: absolute;
	color: #000;
	font-size: 1em;
	text-align: center;
	background: #e7f3ff;
	border: 2px solid #007dfe;
	padding: 5px;
	font-size: 90%;
}
#contact_list {
	height: 300px;
	width: 550px !important;
	width: 530px;
	overflow: scroll;
}
#del_pass_form {margin-top: 10px; position: relative;}
#top_text {
	float: right;
	width: 580px;
	font-weight: bold;
	font-size: 130%;
	color: #000;
	position: absolute;
	right: 0px;
	top: 35px;
}
#avatar_preview {
	width: 200px;
	float: right;
	text-align: center;
}
#bglib {
	margin-top: 10px;
	margin-bottom: 10px;
}