a, a:visited {
	text-decoration: underline;
	color: #007dfe;
	font-size: 100%;
}
a:hover {
	color: #000;
	text-decoration: none;
}
a.username, a.username:visited {
	color: #007dfe;
	text-decoration: none;
	font-weight: bold;
}
a.username:hover {
	color: #000;
}
#mainmenu a, #mainmenu a:visited {
	text-decoration: none;
	padding: 0px 5px 0px 5px;
	font-weight: bold;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #fff;
}
#mainmenu a:hover {
	color: #007dfe;
	text-decoration: none;
	background: #fff;
}

a#logo {
	background: transparent url(../logo/logo.png) left top no-repeat;
	display: block;
	width: 283px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-indent: -600px;
	overflow: hidden;
}

a.rlink {
	display: block;
	float: right;
}

a.continue, a.continue:visited {
	font-size: 130%;
	font-weight: bold;
	text-decoration: none;
}
a.continue:hover {
	color: #000;
	text-decoration: none;
}

a.pagination, a.pagination:visited {
	text-decoration: none;
	color: #007dfe;
	padding: 5px;
	margin: 5px;
}
a.pagination:hover {
	text-decoration: none;
	color: #498A2C;
}

/*========================================================= links on tabs */
.side_stuff h1 a, .side_stuff h1 a:visited {
	text-decoration: none;
	color: #aaa;
	margin: 0px 5px 0px 0px;
	white-space: nowrap;
}
.side_stuff h1 a:hover {
	color: #000;
}
.side_stuff h1 a.current, .side_stuff h1 a.current:visited, .side_stuff h1 a.current:hover {
	color: #007dfe;
	text-decoration: none;
}


a.profile, a.profile:visited {
	color: #444;
	text-decoration: none;
	font-weight: normal;
	background: #fff url(../grafika/tab_back.jpg) left bottom repeat-x;
	border: 1px solid #000;
	padding: 2px 5px 0px 5px;
	margin-left: 2px;
	font-size: 85%;
	white-space: nowrap;
}
a.profile.current, a.profile.current:visited, a.profile:hover {
	color: #000;
	text-decoration: none;
	font-weight: normal;
	background: #fff;
	border: 1px solid #000;
	border-bottom: none;
	padding: 2px 5px 2px 5px;
	font-size: 85%;
}

a.profile.rlink {margin-right: 5px; position: relative; top: -1px;}

#footer a, #footer a:visited {
	color: #666;
	text-decoration: none;
	font-size: 0.9em;
}
#footer a:hover {
	color: #000;
	text-decoration: none;
}

/*========================================================= profile - sidebar links */
.user_stats a {
	line-height: 1.5em;
	padding-left: 20px;
}
a.link_direct_msg {background: transparent url(../grafika/email.png) left center no-repeat;}
a.link_followers {background: transparent url(../grafika/group.png) left center no-repeat;}
a.link_friends {background: transparent url(../grafika/user.png) left center no-repeat;}
a.link_favorites {background: transparent url(../grafika/heart.png) left center no-repeat;}
a.link_sms_credits {background: transparent url(../grafika/money.png) left center no-repeat;}

.rss_feed {
	background: transparent url(../grafika/feed.png) left center no-repeat;
	padding-left: 20px;
}
/*=================================
Settings
================================*/

#settings_menu a, #settings_menu a:visited {
	font-size: 90%;
	display: block;
	color: #000;
	text-decoration: none;
	padding: 3px;
}
#settings_menu a:hover {
	background: #fff;
}

.right_middle p a, .right_middle p a:visited {
	color: #ea5a00;
	text-decoration: underline;
	font-size: 100%;
}
.right_middle p a:hover {
	color: #000;
}
.back_lib {
	background: url(../grafika/arrow_down.png) right center no-repeat;
	margin: 10px 0px 10px 0px;
	padding-right: 18px;
}
